#segment-footer > .container a {
    background-color: #006bb6;
    color: #fff57a;
}
#segment-footer > .container {
    background-color: #006bb6;
    color: #fff57a;
}

#hl7-se-nav {
    float: right;
}

.navbar-inverse {
    background-color: #006bb6;
}
.navbar-inverse .navbar-nav > li > a:hover {
    background-color: #006bb6;
    color: #fff57a;
}